{% load static %}

<html>
    <head>
    	<title>{% block title %}{% endblock %}</title>
    	<meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1" name=viewport>

        <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">

        <link href="{% static "/css/style.css" %}" rel="stylesheet">

        <link rel="shortcut icon" href="{% static "/images/crux.ico" %}">
        <link rel="icon" href="{% static "/images/crux.ico" %}" type = "image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Abel|Josefin+Sans|Dancing+Script|Sofia" rel="stylesheet">

    </head>

	<body>
    <div id="wrapper">
        <!-- TODO: Fix navbar appearing on top of page content -->
        <div class="nav-btn">
            <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            <ul id="menu">
                {% if not user.is_authenticated %}
                    <li><a href="/contest/">Dashboard</a></li>
                {% else %}
                    <li><a href="/contest/">{{ user.get_username }}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="/contest/logout/" onclick="alert(LOGGED OUT);">Logout</a></li>
                {% else %}
                    <li><a href="/contest/">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="timer">

        </div>
        <div id="crux">
            Powered by Crux.
        </div>
        {% block body %} {% endblock %}
    </div>

    <script>
    var start = "{{ start }}"
    var end = "{{ end }}"
    var update_time = function(){
        var d = new Date();
        d.setHours(d.getHours() - 5);
        d.setMinutes(d.getMinutes() - 30);
        var n = d.getTime();
        milSec = (end-n > 0)? (n > start) ? end-n : end-start : 0;

        var milliseconds = parseInt((milSec%1000)/100)
        , seconds = parseInt((milSec/1000)%60)
        , minutes = parseInt((milSec/(1000*60))%60)
        , hours = parseInt((milSec/(1000*60*60))%24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;
        document.getElementById('timer').innerHTML = "Time Left: " + hours + ":" + minutes + ":" + seconds;
    };
    setInterval(update_time,1000);
    </script>
</body>
</html>

<!--
Todo:
 * Add routes to the links
-->
