{% extends "header.html" %}

{% block title %} Problem Page {% endblock %}

{% block body %}
    {% csrf_token %}

    <!-- {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %} -->

    <br><br>
    <div class="container" id="mainpart">
        <div class="p-header">
            <a class="p-button" href = "/contest/submissions/">View All Submissions</a>

            <h3>Problems</h3>
        </div>

        {% for contest_id,id, title in data %}
            {% csrf_token %}
            <div class="row problem">
                <h3>{{ contest_id }}. <a href="/contest/problem/{{id}}/">{{ title }}</a></h3>
                <p>
            </div>
        {% endfor %}

    </div>
{% endblock %}
