{% extends "header.html" %}

{% block title %} Problem Page {% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="p-header">
            <a class="p-button" href = "/contest/submissions/">View All Submissions</a>
            <h3>Problems</h3>
        </div>
        
        {% for p in problems %}
            <div class="row problem">
                <h3>{{ forloop.counter }}. 
                    <a href="/contest/problem/{{ p.problem.problem_id }}">{{ p.problem.title }}</a>
                </h3><p>
            </div>
        {% endfor %}

    </div>
{% endblock %}
