{% extends "header.html" %}

{% block title %} Problem {{ problem.problem_id }} {% endblock %}

{% block body %}

    <div id="mainpart">
        <div class="q-header">
            <a href = "/contest/">All Problems</a>

            <a href = "/contest/submissions/?p={{problem.problem_id}}">Problem Submissions</a>

            <a href = "/contest/submissions/">All Submissions</a>
        </div>
        <div class="p-desc">
            <h2>{{problem.problem_id}}. {{problem.title}}</h2>
            <p>
                {{problem.statement|linebreaksbr}}
            </p><br/><br/>


            <div>
                <form id="submission_file" action = "/contest/upload/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ submission_form }}
                    <input type="hidden" name="problem_id" value={{problem.problem_id}}><br/>
                    <input class="btn btn-danger" type="submit" value="Upload and Run" onclick="alert('FILE UPLOADED SUCCESSFULLY');">
                </form>
            </div>

            <div>
                {% if submission %}
                    <ol type='1'>
                        {% for test in submission.tests %}
                            <li>
                                <!-- TODO: Use fontawesome instead of images -->
                                {% if test is 0 %} <img src="/../static/images/right.png" height="15" width="15"> Pass
                                {% elif test is 1 %} <img src="/../static/images/wrong.png" height="15" width="15"> Compilation Error
                                {% elif test is 2 %} <img src="/../static/images/wrong.png" height="15" width="15"> Runtime Error
                                {% elif test is 3 %} <img src="/../static/images/wrong.png" height="15" width="15"> Memory Limit Exceeded
                                {% elif test is 4 %} <img src="/../static/images/wrong.png" height="15" width="15"> Time Limit Exceeded
                                {% elif test is 5 %} <img src="/../static/images/wrong.png" height="15" width="15"> Incorrect Answer
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
