<html>
    <head>
        <title>
            Problems
        </title>
    </head>

    <body>
        {% csrf_token %}
        <div align="right">
            Yo {{ username }}
        </div>

        <div align="right">
            <a href = "/contest/logout/" onclick="alert('LOGGED OUT');"> Logout </a><br>
            <a href = "/contest/submissions/"> All Submissions </a>
        </div>

        <h3>PROBLEMS</h3>
        <br><br>

        <ol type='1'>
            {%for id,title in data%}
            <li><a href="/contest/problem/{{id}}/">{{title}}</a></li>
            {%endfor%}
        </ol>

    </body>

</html>
