{% extends "header.html" %}

{% block title %} Problem Page {% endblock %}

{% block body %}
    {% csrf_token %}

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <br><br>
    <div class="container">
        <a class="btn btn-primary" style="color:white; text-decoration: None" href = "/contest/submissions/">View All Submissions</a>

        <h3>PROBLEMS</h3>
        <br>

        {% for contest_id,id, title in data %}
            {% csrf_token %}
            <div class="row problem" style="background-color: white;">
                <h3 style="margin-left: 10px;">{{ contest_id }}. <a style="text-decoration: None" href="/contest/problem/{{id}}/">{{ title }}</a></h3>
                <p style="margin-left: 10px;">
                    <!-- <strong>Problem Setter: </strong>Anonymous<br/> -->
                    <!-- <strong>Submissions: </strong>#</p> -->
            </div>
            <br/>
        {% endfor %}

    </div>
{% endblock %}
